.rTableBackground {
    display: table;
    width: 100%;
    padding-bottom: 2%;
    background-color: #ddd;
}

.rTable {
    display: table;
    width: 50%;
}
.rTableRow {
    display: table-row;
}
.rTableCell, .rTableHead {
    display: table-cell;
}

